#primary-nav {

	@include row;
    margin: 25px 0;
    padding: 0;
    text-align: center;

	li {
		list-style: none; 
		display: inline-block; 
	}
	a { 
		display: block; 
		font-family: $sans-serif;
		text-transform: uppercase; 
		font-weight: bold; 
		margin: 0; 
		padding: 5px 10px; 
		letter-spacing: 0.1em;
		line-height: 2em;
		transition: all 0.3s ease 0s;
		@extend %a;
	}
	a:visited {
		@extend %a;
	}
	a:hover {
		color: $primary-color;
	}
	@include media($lg-breakpoint) {
		@include span-columns(6);
		@include shift(2);
		text-align: right;
	}
}