.wpcf7 {
	max-width: 600px;
	width: 100%;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea{

	width: 100%;

}
.wpcf7 .submitbutton {
	padding: 15px;
	width: 100%;
	text-align: center;
	font-family: $sans-serif;
	color: $light-color;
	background-color: $primary-color;
	border: 2px solid $highlight-color;
	@include media($sm-breakpoint) {
		width: 225px;
	}
}

.wpcf7-not-valid-tip, .wpcf7 .screen-reader-response, .wpcf7-validation-errors {
	font-size: .8em;
	margin-left: 15px;
	color: red;
}
.wpcf7 .screen-reader-response {
	display: none;
}
